<!DOCTYPE html>
<html lang="en">

<head></head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" sizes="16x16" href="">
<title>MVC Tech Blog</title>
<link rel="stylesheet" href="/css/style.css">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Tech Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/dashboard">Dashboard</a>
          {{#if logged_in}}
          <a class="nav-link" href="/">Logout</a>
          <a class="nav-link" href="/login">Login</a>
          {{/if}}
        </div>
      </div>
    </div>
  </nav>

  <header>
    <h1>Tech Blog</h1>
  </header>
  <main>
    {{{body}}}
  </main>
  {{#if logged_in}}
  <script src=""></script>
  {{/if}}
</body>

</html>